@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap");

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.text_no_padding {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: underline;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Fira Sans', sans-serif !important;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

h1, h2, h3, h4, h5, h6, p, ul, hr {
    margin: 0;
    padding: 0;
}

.card {
    border: none;
}

a, input, button {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, input:hover, button:hover {
    outline: none;
    text-decoration: none;
}

input[type=submit], button {
    border: none;
    cursor: pointer;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mw {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
}

.fancybox-slide:before {
    margin: 0;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #8D0000;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: none;
    z-index: 98;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.scrollup img {
    width: 20px;
}

.scrollup:hover {
    opacity: 0.9;
}

.scrollup .fas_icon {
    font-size: 20px;
    color: #fff;
}

.scrollup.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.modal {
    display: none;
    position: fixed;
    z-index: 99999999;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    max-width: 400px;
    padding: 0 !important;
}

.modal::-webkit-scrollbar {
    width: 0;
}

.modal .m-content {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    position: relative;
}

.modal .m-content .c {
    background-color: #fff;
    width: 100%;
    padding: 40px;
}

.modal .m-content .c h3 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 22px;
    color: #222;
}

.modal .m-content .c .success_h3 {
    font-size: 30px;
    color: #18ba60;
}

.modal .m-content .c h6 {
    padding: 20px 10px;
    text-align: center;
    font-size: 24px;
    color: #2a2a2a;
    font-weight: 400;
}

.modal .m-content .c form {
    width: 100%;
    max-width: 500px;
}

.modal .m-content .c form label {
    color: #8D0000;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.modal .m-content .c form input, .modal .m-content .c form select, .modal .m-content .c form textarea {
    width: 100%;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    color: #222;
    font-size: 14px;
}

.modal .m-content .c form textarea {
    min-height: 100px;
    resize: none;
}

.modal .m-content .c form .inp_line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal .m-content .c form .inp_line .inp_address {
    width: 50%;
}

.modal .m-content .c form .inp_line .inp_home, .modal .m-content .c form .inp_line .inp_home_num {
    width: 20%;
}

.modal .m-content .c form .policy {
    color: #222;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    display: block;
}

.modal .m-content .c form .policy a {
    color: #8D0000;
}

.modal .m-content .c form .policy a:hover {
    color: #fff;
}

.modal .m-content .c form .policy input {
    margin-right: 10px;
}

.modal .m-content .c small {
    color: #676767;
    font-size: 10px;
    font-weight: 300;
}

.modal .m-content .c small a {
    color: #676767;
    text-decoration: underline;
}

.modal .m-content .c small a:hover {
    color: #18ba60;
}

@media (max-width: 575px) {
    .scrollup {
        right: 10px;
        bottom: 50px;
    }

    .modal .m-content .c h3 {
        padding: 30px 0;
        padding-top: 50px;
        font-size: 22px;
    }
}

body {
    background: #1B1B1B;
}

.page {
    overflow-x: hidden;
}

.page .header .mw {
    padding: 35px 2vh 0;
}

.page .header .mw .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page .header .mw .nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page .header .mw .nav ul li {
    margin-left: 30px;
}

.page .header .mw .nav ul li.active a {
    background: #8D0000;
    border-color: #8D0000;
}

.page .header .mw .nav ul li a {
    padding: 8px 10px;
    border: 1px solid #333333;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page .header .mw .nav ul li a:hover {
    border-color: #fff;
}

.page .main .mw {
    padding: 80px 2vh;
}

.page .main .mw .table table, .page .main .mw .table td, .page .main .mw .table th {
    border: 2px solid #1F1F21;
}

.page .main .mw .table table {
    border-collapse: collapse;
}

.page .main .mw .table table thead tr {
    background: #333333;
}

.page .main .mw .table table thead tr th {
    padding: 19px 15px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.page .main .mw .table table tbody tr {
    background: #232323;
}

.page .main .mw .table table tbody tr td {
    height: 72px;
    padding: 10px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.page .main .mw .table table tbody tr td .country {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 175px;
}

.page .main .mw .table table tbody tr td .country .icon {
    width: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 16px;
    margin-right: 7px;
}

.page .main .mw .table table tbody tr td .country .icon img {
    width: 100%;
}

.page .main .mw .table table tbody tr td .btn_panic, .page .main .mw .table table tbody tr td .btn_warning {
    min-width: 158px;
    width: 158px;
    height: 33px;
    -webkit-box-shadow: inset 0px 0px 19px #1B1211;
    box-shadow: inset 0px 0px 19px #1B1211;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.page .main .mw .table table tbody tr td .btn_panic:after, .page .main .mw .table table tbody tr td .btn_warning:after {
    content: '';
    width: 150px;
    height: 25px;
    background: #C83000;
    position: absolute;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    z-index: -1;
}

.page .main .mw .table table tbody tr td .btn_panic:before, .page .main .mw .table table tbody tr td .btn_warning:before {
    content: '';
    width: 158px;
    height: 33px;
    position: absolute;
    background: -o-linear-gradient(314deg, #747474 -16.38%, #343434 79.08%);
    background: linear-gradient(136deg, #747474 -16.38%, #343434 79.08%);
    top: 0;
    left: 0;
    z-index: -3;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}

.page .main .mw .table table tbody tr td .btn_panic .icon, .page .main .mw .table table tbody tr td .btn_warning .icon {
    width: 13px;
    height: 13px;
    min-width: 13px;
    margin-right: 5px;
}

.page .main .mw .table table tbody tr td .btn_panic .icon img, .page .main .mw .table table tbody tr td .btn_warning .icon img {
    width: 100%;
}

.page .main .mw .table table tbody tr td .btn_warning:after {
    background: #FF8A00;
}

.page .main .mw .table table tbody tr:nth-child(2n) {
    background: #272727;
}

@media (max-width: 575px) {
    .page .header .mw {
        padding: 25px 2vh 0;
    }

    .page .header .mw .nav ul li {
        margin-left: 20px;
    }

    .page .header .mw .nav ul li a {
        font-size: 14px;
        line-height: 18px;
    }

    .page .main .mw {
        padding: 50px 2vh;
    }

    .page .main .mw .table {
        overflow-x: scroll;
    }

    .page .main .mw .table table thead tr th {
        padding: 15px 10px;
        font-size: 12px;
        min-width: 100px;
    }

    .page .main .mw .table table tbody tr td {
        height: 50px;
        padding: 10px 10px;
        font-size: 12px;
        line-height: 14px;
    }

    .page .main .mw .table table tbody tr td .country {
        min-width: 150px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .page .header .mw {
        padding: 25px 2vh 0;
    }

    .page .header .mw .nav ul li {
        margin-left: 20px;
    }

    .page .header .mw .nav ul li a {
        font-size: 14px;
        line-height: 18px;
    }

    .page .main .mw {
        padding: 50px 2vh;
    }

    .page .main .mw .table {
        overflow-x: scroll;
    }

    .page .main .mw .table table thead tr th {
        padding: 15px 10px;
        font-size: 12px;
        min-width: 100px;
    }

    .page .main .mw .table table tbody tr td {
        height: 50px;
        padding: 10px 10px;
        font-size: 12px;
        line-height: 14px;
    }

    .page .main .mw .table table tbody tr td .country {
        min-width: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .page .header .mw {
        padding: 25px 2vh 0;
    }

    .page .header .mw .nav ul li {
        margin-left: 20px;
    }

    .page .header .mw .nav ul li a {
        font-size: 14px;
        line-height: 18px;
    }

    .page .main .mw {
        padding: 50px 2vh;
    }

    .page .main .mw .table {
        overflow-x: scroll;
    }

    .page .main .mw .table table thead tr th {
        padding: 15px 10px;
        font-size: 12px;
        min-width: 150px;
    }

    .page .main .mw .table table tbody tr td {
        height: 50px;
        padding: 10px 10px;
        font-size: 12px;
        line-height: 14px;
    }

    .page .main .mw .table table tbody tr td .country {
        min-width: 150px;
    }
}
